body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff6600;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

.menu-item {
    margin-right: 20px;
}

.menu-item:last-child {
    margin-right: 0;
}

.right-menu {
    margin-left: auto;
}

.right-menu .menu-item button {
    background-color: #ddd;
    border: none;
    padding: 8px 15px;
    cursor: not-allowed;
}

.right-menu .menu-item button:hover {
    background-color: #ccc;
}

.menu-item img {
    max-width: 40px; 
    height: auto;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.right-menu .menu-item button {
    background-color: #007bff; 
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: not-allowed;
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

.right-menu .menu-item button:hover {
    background-color: #0056b3; 
}
